Source: ros-humble-elite-cs-series-sdk
Section: misc
Priority: optional
Maintainer: "Elite Robots" <dukang@elibot.cn>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libssh-dev, ros-humble-ament-cmake, ros-humble-ros-workspace
Homepage: https://www.eliterobots.com/
Standards-Version: 3.9.2

Package: ros-humble-elite-cs-series-sdk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libssh-dev, ros-humble-ros-workspace
Description: Elite Robots CS Series SDK (C++ library for Elibot CS series robotic arms).
